@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textfield {
    @apply bg-white 
      border 
      border-gray-trans 
      text-black 
      text-[.875rem] 
      rounded-[15px] 
      font-manrope-semibold
      focus:ring-blue 
      focus:border-blue 
      focus:outline-none
      block 
      w-full 
      px-[1.125rem];
  }

  .btn {
    @apply px-[1.75rem] 
      flex
      text-center
      items-center 
      justify-center
      rounded-[18px] 
      text-[0.875rem] 
      w-full 
      font-manrope-extrabold 
      min-h-[60px];
  }

  .select {
    @apply bg-white 
      border 
      border-gray-trans 
      text-gray
      font-manrope-semibold
      text-[.75rem]
      rounded-[1rem]
      focus:ring-blue 
      focus:border-blue 
      focus:outline-none
      block 
      w-full 
      px-[1.125rem]
      py-[1.5rem];
  }
}
