@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textfield {
    @apply bg-white 
      border 
      border-gray-trans 
      text-black 
      text-[0.75rem] 
      rounded-[15px] 
      font-manrope-semibold
      focus:ring-blue 
      focus:border-blue 
      focus:outline-none
      block 
      w-full 
      py-[1.5rem]
      px-[1.125rem]
      dark:bg-gray-trans 
      dark:border-gray-trans 
      dark:placeholder-gray-trans
      dark:text-white 
      dark:focus:ring-blue 
      dark:focus:border-blue;
  }

  .btn {
    @apply px-[1.75rem] 
      flex 
      text-center
      items-center 
      rounded-[18px] 
      text-[0.875rem] 
      w-full 
      font-manrope-extrabold 
      min-h-[60px];
  }
}
